{% extends 'uso.twig' %}

{% block titulo 'Administrativo' %}

{% block contenido_secundario %}
	{% include 'menu_lateral_usos.twig' with {'opcion':opcion} %}
{% endblock %}

{% block contenido_primario %}
    	<div class="content-primary">
            <div data-role="collapsible-set" data-theme="a" data-content-theme="a" data-corners="false">
                <div data-role="collapsible">
                    <h1>Administrativo</h1>
                    <p>Edificio, establecimiento o zona en el que se desarrollan actividades de gestión o de servicios en cualquiera de sus modalidades, como por ejemplo, centros de la administración pública, bancos, despachos profesionales, oficinas, etc.</p>
                    <p>A los edificios, establecimientos o zonas de uso sanitario o asistencial de carácter ambulatorio se les debe aplicar las condiciones particulares del uso Administrativo.</p>
                </div>
            </div>
            <div class="ui-bar ui-bar-b"><strong>Cumplimente los siguientes datos:</strong></div>
        	<form name="administrativo" method="post" action="{{ path('uso.resultados') }}">
        		<div class="ui-body ui-body-b">
                    <input type="hidden" name="uso" id="uso" value="{{ opcion }}">
        		    <label for="superficie">Superficie construida en (m&sup2;)</label>
        		    <input type="text" name="superficie" id="superficie" placeholder="m&sup2;">
        		    <label for="altura_d">Altura de evacuación descendente (m)</label>
        		    <input type="text" name="altura_d" id="altura_d" placeholder="m">
        		    <label for="altura_a">Altura de evacuación ascendente (m)</label>
        		    <input type="text" name="altura_a" id="altura_a" placeholder="m">
        		    <hr>
        		    <label for="dens_1per">¿La densidad de ocupación es mayor que 1 persona cada 5 m&sup2;?</label>
        		    <select name="dens_1per" id="dens_1per" data-role="slider" data-theme="c" data-track-theme="a">
        		        <option value="no">No</option>
        		        <option value="si">Si</option>
        		    </select>
        		    <hr>
        		    <label for="cocina_50kW">¿Hay cocinas instaladas dentro del edificio con una potencia instalada superior a 50 kW?</label>
        		    <select name="cocina_50kW" id="cocina_50kW" data-role="slider" data-theme="c" data-track-theme="a">
        		        <option value="no">No</option>
        		        <option value="si">Si</option>
        		    </select>
        		    <hr>
        		    <label for="centro_transf">¿Existe centro de transformación cuyos aparatos tengan aislamiento dieléctrico con punto de inflamación menor de 300&deg; y potencia instalada mayor de 1000 kVA en cada aparato o de 4000 kVA en el conjunto de aparatos?</label>
        		    <select name="centro_transf" id="centro_transf" data-role="slider" data-theme="c" data-track-theme="a">
        		        <option value="no">No</option>
        		        <option value="si">Si</option>
        		    </select><br>&nbsp;
        		    <div class="ui-bar ui-bar-a"><strong>Locales y zonas de riesgo especial</strong></div>
        		    <div class="ui-body ui-body-e">
            		    <label for="locales_riesgo">¿Hay imprenta, reprografía y locales anejos, tales como almacenes de papel, encuadernado, etc.?</label>
            		    <select name="locales_riesgo" id="locales_riesgo" data-role="slider" data-theme="c" data-track-theme="a">
            		        <option value="no">No</option>
            		        <option value="si">Si</option>
            		    </select>
            		    <hr>
            		    <label for="volumen_construido">¿Cuál es el volumen construido?  (m&sup3;)</label>
            		    <input type="text" name="volumen_construido" id="volumen_construido" placeholder="m&sup3;">
        		    </div>
        		</div>
                {% block envio %}
                    {% include 'envio_calculo.twig' %}
                {% endblock %}
	        </form>
	        <p>&nbsp;</p>		
    	</div><!--/content-primary -->
{% endblock %}