{% extends 'uso.twig' %}

{% block titulo 'Residencial Vivienda' %}

{% block contenido_secundario %}
	{% include 'menu_lateral_usos.twig' with {'opcion':opcion} %}
{% endblock %}

{% block contenido_primario %}
    	<div class="content-primary">
            <div data-role="collapsible-set" data-theme="a" data-content-theme="a" data-corners="false">
                {% if opcion == 'Residencial Vivienda' %}
                {% set volver = 'uso.residencial_vivienda' %}
                <div data-role="collapsible">
                    <h1>Residencial Vivienda</h1>
                    <p>Edificio o zona destinada a alojamiento permanente, cualquiera que sea el tipo de edificio: vivienda unifamiliar, edificio de pisos o de apartamentos, etc.</p>
                </div>
                {% elseif opcion == 'Administrativo' %}
                {% set volver = 'uso.administrativo' %}
                <div data-role="collapsible">
                    <h1>Administrativo</h1>
                    <p>Edificio, establecimiento o zona en el que se desarrollan actividades de gestión o de servicios en cualquiera de sus modalidades, como por ejemplo, centros de la administración pública, bancos, despachos profesionales, oficinas, etc.</p>
                    <p>A los edificios, establecimientos o zonas de uso sanitario o asistencial de carácter ambulatorio se les debe aplicar las condiciones particulares del uso Administrativo.</p>
                </div>
                {% elseif opcion == 'Residencial Público' %}
                {% set volver = 'uso.residencial_publico' %}
                <div data-role="collapsible">
                    <h1>Residencial Público</h1>
                    <p>Edificio o establecimiento destinado a proporcionar alojamiento temporal, regentado por un titular de la actividad diferente del conjunto de los ocupantes y que puede disponer de servicios comunes, tales como limpieza, comedor, lavandería, locales para reuniones y espectáculos, deportes, etc. Incluye a los hoteles, hostales, residencias, pensiones, apartamentos turísticos, etc.</p>
                </div>
                {% elseif opcion == 'Hospitalario' %}
                {% set volver = 'uso.hospitalario' %}
                <div data-role="collapsible">
                    <h1>Hospitalario</h1>
                    <p>Edificio o establecimiento destinado a asistencia sanitaria con hospitalización de 24 horas y que está ocupados por personas que, en su mayoría, son incapaces de cuidarse por sí mismas, tales como hospitales, clínicas, sanatorios, residencias geriátricas, etc.</p>
                    <p>Las zonas de dichos edificios o establecimientos destinadas a asistencia sanitaria de carácter ambulatorio (despachos médicos, consultas, áreas destinadas al diagnóstico y tratamiento, etc.) así como a los centros con dicho carácter en exclusiva, deben cumplir las condiciones correspondientes al uso Administrativo.</p>
                </div>
                {% elseif opcion == 'Docente' %}
                {% set volver = 'uso.docente' %}
                <div data-role="collapsible">
                    <h1>Docente</h1>
                    <p>Edificio, establecimiento o zona destinada a docencia, en cualquiera de sus niveles: escuelas infantiles,centros de enseñanza primaria, secundaria, universitaria o formación profesional. No obstante, los establecimientos docentes que no tengan la característica propia de este uso (básicamente, el predominio de actividades en aulas de elevada densidad de ocupación) deben asimilarse a otros usos.</p>
                </div>
                {% elseif opcion == 'Comercial' %}
                {% set volver = 'uso.comercial' %}
                <div data-role="collapsible">
                    <h1>Comercial</h1>
                    <p>Edificio o establecimiento cuya actividad principal es la venta de productos directamente al público o la prestación de servicios relacionados con los mismos, incluyendo, tanto las tiendas y a los grandes almacenes los cuales suelen constituir un único establecimiento con un único titular, como los centros comerciales, los mercados, las galerías comerciales, etc.</p>
                    <p>También se consideran de uso Comercial aquellos establecimientos en los que se prestan directamente al público determinados servicios no necesariamente relacionados con la venta de productos, pero cuyas características constructivas y funcionales, las del riesgo derivado de la actividad y las de los ocupantes se puedan asimilar más a las propias de este uso que a las de cualquier otro. Como ejemplos de dicha asimilación pueden citarse las lavanderías, los salones de peluquería, etc.</p>
                </div>
                {% elseif opcion == 'Pública Concurrencia' %}
                {% set volver = 'uso.publica_concurrencia' %}
                <div data-role="collapsible">
                    <h1>Pública Concurrencia</h1>
                    <p>Edificio o establecimiento destinado a alguno de los siguientes usos: cultural (destinados a restauración,espectáculos, reunión, deporte, esparcimiento, auditorios, juego y similares), religioso y de transporte de personas.</p>
                    <p><strong>(Anulado por Sentencia del TS de 4/5/2010, BOE 30/7/2010)</strong></p>
                </div>
                {% elseif opcion == 'Aparcamiento' %}
                {% set volver = 'uso.aparcamiento' %}
                <div data-role="collapsible">
                    <h1>Aparcamiento</h1>
                    <p>Edificio, establecimiento o zona independiente o accesoria de otro uso principal, destinado a estacionamiento de vehículos y cuya superficie construida exceda de 100 m&sup2;, incluyendo las dedicadas a revisiones tales como lavado, puesta a punto, montaje de accesorios, comprobación de neumáticos y faros, etc., que no requieran la manipulación de productos o de útiles de trabajo que puedan presentar riesgo adicional y que se produce habitualmente en la reparación propiamente dicha. Se excluyen de este uso los garajes, cualquiera que sea su superficie, de una vivienda unifamiliar, así como los aparcamientos en espacios exteriores del entorno de los edificios, aunque sus plazas estén cubiertas.</p>
                    <p>Dentro de este uso, se denominan aparcamientos robotizados aquellos en los que el movimiento de los vehículos, desde el acceso hasta las plazas de aparcamiento, únicamente se realiza mediante sistemas mecánicos y sin presencia ni intervención directa de personas, exceptuando la actuación ocasional de personal de mantenimiento. En dichos aparcamientos no es preciso cumplir las condiciones de evacuación que se establecen en este DB SI, aunque deben disponer de los medios de escape en caso de emergencia para dicho personal que en cada caso considere adecuados la autoridad de control competente.</p>
                </div>
                {% endif %}
            </div>
            <div class="ui-bar ui-bar-b">Informe archivado correctamente</div>
            <div class="ui-body ui-body-b">
                <p>Seleccione una de las siguientes opciones para continuar:</p>
                <ul data-role="listview" data-inset="true" data-divider-theme="a">
                    <li data-theme="f"><a href="{{ path('inicio') }}">Volver a la pantalla de inicio</a></li>
                    <li data-theme="b"><a href="{{ path(volver) }}">Insertar un nuevo informe del mismo tipo ({{ opcion|e }})</a></li>
                    <li data-theme="c"><a href="{{ path('usuario', { 'user': app.security.token.user.username }) }}">Consultar mis informes</a></li>
                </ul>
            </div>
	        <p>&nbsp;</p>		
    	</div><!--/content-primary -->
{% endblock %}