{% extends 'layout.twig' %}

{% block titulo 'Portada' %}

{% block body_class 'type-home' %}

{% block cabecera %}
    {% include 'cabecera.twig' %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% include 'menu_usuario.twig' %}
    {% else %}
    {% include 'form_login_popup.twig' %}
    {% endif %}
{% endblock %}

{% block contenido_secundario %}
    {% include 'menu_general.twig' %}
{% endblock %}

{% block contenido_primario %}
        <div class="content-primary">
            <h2>Ayuda</h2><hr>
            <p>El manejo de esta aplicación es muy sencillo y se puede dividir en dos apartados. El primero, el <strong>acceso y registro</strong> en la plataforma y el segundo el <strong>manejo</strong> de la propia plataforma. Es importante indicar que la interfaz de usuario se verá de diferente manera automáticamente dependiendo del dispositivo desde donde se acceda. Es decir, mientras que un PC aparecerán todos los botones y menús, en un smartphone algunos aparecerán mediante desplegables fácilmente accesibles en la parte superior de las diferentes páginas o pantallas.</p> 
            <p>El registro se realiza pinchando o pulsando el botón <strong>"Registrar nuevo técnico"</strong> y rellenando correctamente los campos del formulario. En caso de que se detecte algún fallo el propio sistema indicará cúal es. Para cualquier duda o problema rellene los datos del formulario de contacto pulsando el botón <strong>"Contacto"</strong> y un técnico de la plataforma se pondrá en contacto con usted en la mayor brevedad posible.</p>
            <p><strong>Para acceder al sistema</strong>, una vez se haya registrado, debe pinchar sobre el <strong>botón</strong>, situado a la derecha en la barra superior verde, con forma de <strong>lápiz</strong> e introducir su usuario y contraseña. En caso de que todo haya funcionado bien el icono del botón cambiará a un <strong>engranaje</strong>, y al pulsarlo aparecerán las opciones del usuario conectado: ver su perfil y desconectarse de la plataforma. En caso de error, el icono no cambiará, pero al pinchar mostrará el mensaje de usuario y/o contraseña incorrectos.</p>
            <p><strong>Para el manejo de la plataforma</strong> simplemente ha de pinchar en el uso de la instalación y rellenar el formulario adjunto. Al enviarlo verá los resultados y, <strong>si está conectado, le permitirá archivarlo</strong> introduciendo unos datos referentes a dicho inmueble: dirección, código postal, población, etc. Los <strong>resultados</strong> se mustran siguiendo el siguiente <strong>patrón</strong>:</p>
            <p>
                <ul data-role="listview" data-inset="true">
                    <li data-theme="b" data-icon="check"><a href="#">Instalación necesaria</a></li>
                    <li data-theme="a" data-icon="delete"><a href="#">Instalación prescindible</a></li>
                </ul>
            </p>
            <p>Cuando el usuario desee consultar sus informes almacenados, puede también <strong>consultar la localización</strong> del inmueble relacionado en Google Maps pulsando el siguiente botón:</p>
            <p>
                <a href="#" data-role="button" data-icon="info" data-icon-pos="right" data-theme="a">Ver localización en mapa</a>
            </p>
            <p>&nbsp;</p>
        </div><!--/content-primary -->
{% endblock %}
