		<div data-role="popup" id="popupLogin" data-theme="a" data-overlay-theme="a" class="ui-corner-all">
			<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Cerrar</a>
			
		</div>

		<div data-role="header" data-position="fixed" data-theme="f">
        <div align="center"><img src="/img/logo_claro.png" alt="iContraincendios" height="35" /></div>
        <a href="{{ app.url_generator.generate('portada') }}" data-icon="home" data-iconpos="notext" data-direction="reverse">Inicio</a>
        <a href="#popupOpciones" data-theme="a" data-icon="arrow-r" data-iconpos="right" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop">{{  }}</a>
    </div><!-- /header -->