{% extends 'uso.twig' %}

{% block titulo 'Comercial' %}

{% block contenido_secundario %}
	{% include 'menu_lateral_usos.twig' with {'opcion':opcion} %}
{% endblock %}

{% block contenido_primario %}
    	<div class="content-primary">
            <div data-role="collapsible-set" data-theme="a" data-content-theme="a" data-corners="false">
                <div data-role="collapsible">
                    <h1>Comercial</h1>
                    <p>Edificio o establecimiento cuya actividad principal es la venta de productos directamente al público o la prestación de servicios relacionados con los mismos, incluyendo, tanto las tiendas y a los grandes almacenes los cuales suelen constituir un único establecimiento con un único titular, como los centros comerciales, los mercados, las galerías comerciales, etc.</p>
                    <p>También se consideran de uso Comercial aquellos establecimientos en los que se prestan directamente al público determinados servicios no necesariamente relacionados con la venta de productos, pero cuyas características constructivas y funcionales, las del riesgo derivado de la actividad y las de los ocupantes se puedan asimilar más a las propias de este uso que a las de cualquier otro. Como ejemplos de dicha asimilación pueden citarse las lavanderías, los salones de peluquería, etc.</p>
                </div>
            </div>
        	<div class="ui-bar ui-bar-g"><strong>Cumplimente los siguientes datos:</strong></div>
        	<form name="comercial" method="post" action="{{ path('uso.resultados') }}">
        		<div class="ui-body ui-body-b">
                    <input type="hidden" name="uso" id="uso" value="{{ opcion }}">
                    <label for="superficie">Superficie construida en (m&sup2;)</label>
                    <input type="text" name="superficie" id="superficie" pattern="[0-9]*" placeholder="m&sup2;" title="Se necesita un valor de superficie" required>
                    <label for="altura_d">Altura de evacuación descendente (m)</label>
                    <input type="text" name="altura_d" id="altura_d" pattern="[0-9]*" placeholder="m" title="Se necesita un valor de altura de evacuación descendente" required>
                    <label for="altura_a">Altura de evacuación ascendente (m)</label>
                    <input type="text" name="altura_a" id="altura_a" pattern="[0-9]*" placeholder="m" title="Se necesita un valor de altura de evacuación ascendente" required>
        		    <hr>
        		    <label for="area_ventas_1500">¿La superficie total construida del área pública de ventas excede de 1.500 m&sup2;?</label>
        		    <select name="area_ventas_1500" id="area_ventas_1500" data-role="slider" data-theme="c" data-track-theme="a">
        		        <option value="no">No</option>
        		        <option value="si">Si</option>
        		    </select>
        		    <hr>
                    <label for="densidad_cf_500">¿La densidad de carga de fuego ponderada y corregida aportada por los productos comercializados es mayor que 500 MJ/m&sup2;?</label>
                    <select name="densidad_cf_500" id="densidad_cf_500" data-role="slider" data-theme="c" data-track-theme="a">
                        <option value="no">No</option>
                        <option value="si">Si</option>
                    </select>
                    <hr>
        		    <label for="cocina_50kW">¿Hay cocinas instaladas dentro del edificio con una potencia instalada superior a 50 kW?</label>
        		    <select name="cocina_50kW" id="cocina_50kW" data-role="slider" data-theme="c" data-track-theme="a">
        		        <option value="no">No</option>
        		        <option value="si">Si</option>
        		    </select>
        		    <hr>
        		    <label for="centro_transf">¿Existe centro de transformación cuyos aparatos tengan aislamiento dieléctrico con punto de inflamación menor de 300&deg; y potencia instalada mayor de 1000 kVA en cada aparato o de 4000 kVA en el conjunto de aparatos?</label>
        		    <select name="centro_transf" id="centro_transf" data-role="slider" data-theme="c" data-track-theme="a">
        		        <option value="no">No</option>
        		        <option value="si">Si</option>
        		    </select><br>&nbsp;
        		    <div class="ui-bar ui-bar-a"><strong>Locales y zonas de riesgo especial</strong></div>
        		    <div class="ui-body ui-body-e">
            		    <label for="almacenes_cf_3400">¿Hay almacenes en los que la densidad de carga de fuego ponderada y corregida (Qs) aportada por los productos almacenados es superior a 3.400 MJ/m&sup2;?</label>
            		    <select name="almacenes_cf_3400" id="almacenes_cf_3400" data-role="slider" data-theme="c" data-track-theme="a">
            		        <option value="no">No</option>
            		        <option value="si">Si</option>
            		    </select>
        		    </div>
        		</div>
                {% block envio %}
                    {% include 'envio_calculo.twig' %}
                {% endblock %}
	        </form>
	        <p>&nbsp;</p>		
    	</div><!--/content-primary -->
{% endblock %}