                <div class="ui-bar ui-bar-a">
                    <fieldset class="ui-grid-a">
                        <div class="ui-block-a"><button type="reset" data-theme="c">Cancelar</button></div>
                        <div class="ui-block-b"><button type="submit" data-theme="b">Calcular</button></div>       
                    </fieldset>
                </div>
