<!DOCTYPE html> 
<html> 
<head> 
	<meta charset="utf-8">
    <title>{{ app.title }} | {% block titulo %}{% endblock %}</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    {% block estilos %}
    <!-- Estilos -->
    {#<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />#}
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/jqm-docs.css">
    {% endblock %}
    {% block js %}
    <!-- JS -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    {#<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>#}
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    <script src="/js/vendor/jqm-docs.js"></script>
    <script src="/js/main.js"></script>
    {% endblock %}
    {% block iconos %}
    <!-- Iconos -->
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/icon_iphone.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icon_ipad.png" />
    {% endblock %}
</head> 
<body> 

<div {% block id_page %}{% endblock %} data-role="page" class="{% block body_class %}{% endblock %}">

    {% block cabecera %}{% endblock %}

	<div data-role="content">
        {% block contenido_secundario %}{% endblock %}

        {% block contenido_primario %}{% endblock %}
	</div><!-- /content -->

  	<div data-role="footer" class="footer-docs" data-theme="c">
	</div>
    
    {% block pie %}
    <div data-role="footer" class="ui-bar" data-position="fixed" data-theme="f">
		<div align="center"><h6>&copy; Santos Jiménez Linares {{ "now"|date("Y") }}</h6></div>
	</div>
    {% endblock %}

</div><!-- /page -->
</body>
</html>