		<div data-role="popup" id="mapaInforme" data-theme="a" data-overlay-theme="a">
			<a href="#" data-rel="back" data-role="button" data-theme="f" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Cerrar</a>
			<div class="ui-bar-a ui-corner-all ui-shadow" style="padding:0.5em">
                <div id="map" style="width:300px;height:300px;"></div>
            </div>
		</div>