{% extends 'layout.twig' %}

{% block titulo 'Portada' %}

{% block body_class 'type-home' %}

{% block cabecera %}
    {% include 'cabecera.twig' %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% include 'menu_usuario.twig' %}
    {% else %}
    {% include 'form_login_popup.twig' %}
    {% endif %}
{% endblock %}

{% block contenido_secundario %}
		<div class="content-secondary">
            <div id="jqm-homeheader">
                <h1 id="jqm-logo"><img src="/img/logo.fw.png" alt="iContraincendios" /></h1>
                <p>Calcule las necesidades de una instalación contraincendios.</p>
            </div>

			<p class="intro"><strong>Bienvenido.</strong> iContraincendios es una aplicación para el cálculo de las necesidades para todo tipo de instalaciones contra incendios.</p>
			
            <div data-role="collapsible" data-inset="true" data-theme="f" data-content-theme="c">
                <h2>Opciones generales</h2>
                <ul class="ui-shadow" data-role="listview" data-theme="c"  data-dividertheme="d">
                    <li data-role="list-divider">Seleccione una opción</li>
                    <li><a href="{{ path('quienes') }}">¿Quiénes somos?</a></li>
                    <li><a href="{{ path('contacto') }}">Contacto</a></li>              
                    <li><a href="{{ path('ayuda') }}">Ayuda</a></li>
                    <li data-theme="b" data-icon="plus"><a href="{{ path('registro') }}" >Registrar nuevo técnico</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li data-theme="a" data-icon="arrow-d"><a href="/logout" >Desconectar</a></li>
                    {% endif %}
                </ul>
            </div>
		</div><!--/content-secondary -->
{% endblock %}

{% block contenido_primario %}
        <div class="content-primary">
            <h2>¿Quiénes somos?</h2><hr>
            <p>Eivar ha cumplido ya 33 años desde su fundación en el año 1979 y hoy es un referente a nivel nacional en las áreas de diseño e ingeniería de detalle, venta, instalación y mantenimiento de sistemas destinados a la protección contra incendios y seguridad electrónica. Teniendo actualmente clientes en todas las provincias de España (Incluidas Islas).</p>
            <p>Nuestro constante compromiso y evolución hace que seamos una de las empresas con mejor futuro dentro de nuestro sector.</p>
            <ul data-role="listview" data-inset="true" data-theme="e">
                <li data-theme="b">Formación continua interna y externa para nuestro equipo humano</li>
                <li data-theme="d">Investigación de nuevos sistemas y nuevos diseños de PCI</li>
                <li data-theme="b">Análisis y estudio de las nuevas normas así como sus modificaciones</li>
                <li data-theme="d">Reinversión constante en la compañía, analisis de nuevos mercados, etc.</li>
            </ul>
            <p>Todas nuestras actividades se dirigen a la protección de las vidas y de los bienes, al respeto por el medio ambiente y a la satisfacción y tranquilidad de nuestros clientes.</p>
            <p>Uno de nuestros objetivos es fomentar la cultura de la protección contra incendios, es por ello por lo que junto con asociaciones, compañías de seguros, ayuntamientos, etc. asistimos y organizamos jornadas técnicas de formación, estudiamos y asesoramos de nuevas normas a aplicar así como interpretación y aplicación de las existentes, asistimos a reuniones periodicas para la mejora del sector, elaboramos y difundimos documentos técnicos, etc.</p>
            <p>&nbsp;</p>
        </div><!--/content-primary -->
{% endblock %}
