{% extends 'uso.twig' %}

{% block titulo 'Residencial Vivienda' %}

{% block contenido_secundario %}
	{% include 'menu_lateral_usos.twig' with {'opcion':opcion} %}
{% endblock %}

{% block contenido_primario %}
    	<div class="content-primary">
            <div data-role="collapsible-set" data-theme="a" data-content-theme="a" data-corners="false">
                {% if opcion == 'Residencial Vivienda' %}
                <div data-role="collapsible">
                    <h1>Residencial Vivienda</h1>
                    <p>Edificio o zona destinada a alojamiento permanente, cualquiera que sea el tipo de edificio: vivienda unifamiliar, edificio de pisos o de apartamentos, etc.</p>
                </div>
                {% elseif opcion == 'Administrativo' %}
                <div data-role="collapsible">
                    <h1>Administrativo</h1>
                    <p>Edificio, establecimiento o zona en el que se desarrollan actividades de gestión o de servicios en cualquiera de sus modalidades, como por ejemplo, centros de la administración pública, bancos, despachos profesionales, oficinas, etc.</p>
                    <p>A los edificios, establecimientos o zonas de uso sanitario o asistencial de carácter ambulatorio se les debe aplicar las condiciones particulares del uso Administrativo.</p>
                </div>
                {% elseif opcion == 'Residencial Público' %}
                {% elseif opcion == 'Hospitalario' %}
                {% elseif opcion == 'Docente' %}
                {% elseif opcion == 'Comercial' %}
                {% elseif opcion == 'Pública Concurrencia' %}
                {% elseif opcion == 'Aparcamiento' %}
                {% endif %}
            </div>
            <div class="ui-bar ui-bar-b"><strong>Resultados:</strong></div>
            <form name="resviv" method="post" action="">
              <div class="ui-body ui-body-b">
                  <div data-role="fieldcontain">
                  <label for="superficie">Extintores - Señalización</label>
                  <input type="text" name="superficie" id="superficie" placeholder="Resultado">
                  </div>
                  <div data-role="fieldcontain">
                  <label for="superficie">Bies &Oslash;25 mm</label>
                  <input type="text" name="superficie" id="superficie" placeholder="Resultado">
                  </div>
                  <div data-role="fieldcontain">
                  <label for="superficie">Bies &Oslash;45 mm</label>
                  <input type="text" name="superficie" id="superficie" placeholder="Resultado">
                  </div>
                  <div data-role="fieldcontain">
                  <label for="superficie">Columna seca</label>
                  <input type="text" name="superficie" id="superficie" placeholder="Resultado">
                  </div>
                  <div data-role="fieldcontain">
                  <label for="superficie">Sistema manual de alarma de incendio</label>
                  <input type="text" name="superficie" id="superficie" placeholder="Resultado">
                  </div>
                  <div data-role="fieldcontain">
                  <label for="superficie">Sistema de detección de incendio</label>
                  <input type="text" name="superficie" id="superficie" placeholder="Resultado">
                  </div>
                  <div data-role="fieldcontain">
                  <label for="superficie">Hidrantes exteriores</label>
                  <input type="text" name="superficie" id="superficie" placeholder="Resultado">
                  </div>
                  <div data-role="fieldcontain">
                  <label for="superficie">Instalación automética de extinción</label>
                  <input type="text" name="superficie" id="superficie" placeholder="Resultado">
                  </div>
                  <div data-role="fieldcontain">
                  <label for="superficie">Instalación automática de extinción cocina</label>
                  <input type="text" name="superficie" id="superficie" placeholder="Resultado">
                  </div>
                  <div data-role="fieldcontain">
                  <label for="superficie">Instalación automática de extinción centro transformación</label>
                  <input type="text" name="superficie" id="superficie" placeholder="Resultado">
                  </div>
                  <hr>
                  <label for="textarea-a">Aclaraciones y/o comentarios a los resultados</label>
                  <textarea name="textarea" id="textarea-a">
                  </textarea>                  
                  <hr>
                  <fieldset class="ui-grid-a">
                      <div class="ui-block-a"><button type="reset" data-theme="a">Inicio</button></div>
                      <div class="ui-block-b"><button type="submit" data-theme="b">Recalcular</button></div>       
                  </fieldset>
              </div>
            </form>
	        <p>&nbsp;</p>		
    	</div><!--/content-primary -->
{% endblock %}